# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
*

# Environment variables
.env

# Build output
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# MacOS
.DS_Store

# IDE/Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
